.header-image {
  position: relative;
  padding-top: 25px;
  margin-left: 380px;
  padding-bottom: 25px;
}
.header-wrap {
  color: aliceblue;
  display: flex;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(94, 93, 88, 0.6),
      rgba(94, 93, 88, 0.6)
    ),
    url(../img/Layer\ 1\ 5.jpg);
}
.logo-link {
  text-decoration: none;
}

.logo-h {
  text-decoration: none;
  color: #ffffff;
}
.logo-ham {
  text-decoration: none;
  color: #18cfab;
}

.header-h {
  position: absolute;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: 31px;
  top: 45px;
  left: 393px;
  font-size: 40px;
}

.header {
  background-image: url(../img/Layer\ 1\ 5.jpg);
}
.conteiner {
  width: 1920px;
}

.header-span {
  font-size: 35px;
  font-weight: normal;
  color: #ffffff;
}

.header-ham {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 5px;

  font-size: 40px;
}
.header-ul {
  display: flex;
  justify-content: center;
  margin-left: 305px;
}
.header-ul :hover {
  color: #18cfab;
}

.header-li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  margin-right: 20px;
  padding-top: 50px;
  text-transform: uppercase;
}

.header-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.header-img {
  width: 20px;
  height: 20px;
  margin-top: 50px;
  margin-right: 380px;
  color: rgba(255, 255, 255, 0.6);
}

.header-a {
  text-decoration: none;
  cursor: pointer;
}
.section-ham {
  margin-top: 265px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  align-items: center;
  color: #ffffff;
}
.section-span {
  color: #18cfab;
}
.caption {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 78px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.section-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  align-items: center;
  text-align: center;
  color: #d4d4d4;
}
.botton {
  display: flex;
  justify-content: center;
  margin-top: 125px;
  padding-bottom: 245px;
}
.section-botton {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #18cfab;
  border-radius: 5px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  border: none;
  box-shadow: 0 -5px #ffffff;
}
.section-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #00cbf6;
  border-radius: 5px;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border: none;
  box-shadow: 0 -5px #ffffff;
}
.main-list {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.main-img {
  background: #1c2a33;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 95px;
}
.list-one {
  background-color: #1c2a33;
  width: 480px;
  height: 375px;
}
.list-two {
  background-color: #18cfab;
  width: 480px;
  height: 375px;
}
.list-img {
  background: #18cfab;
  padding-left: 195px;
  padding-right: 195px;
  padding-top: 95px;
}
.list-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 50px;
}
.list-text-margin {
  margin-top: 70px;
}
.section-list-p {
  margin-top: 85px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  position: relative;
  padding-bottom: 25px;
}
.section-list-ul {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15.9859px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.section-list-p:before {
  content: "";
  position: absolute;
  bottom: -2px;

  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 915px;
}
.section-list-p:after {
  content: "";
  position: absolute;
  bottom: -6px;

  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 930px;
}
.section-list-li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 35px;
  padding-right: 35px;
  background: #f8fcfe;
  border: 1px solid #edefef;
  color: #717171;
  cursor: pointer;
}
.list-active {
  position: relative;
  color: #ffffff;
  background: #18cfab;
}
.list-active .section-list-a {
  color: white;
}
.list-active::before {
  content: "";
  left: 70px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 10px solid #18cfab;
  bottom: -10px;
}
.section-list-li:hover {
  border-color: #18cfab;
  cursor: pointer;
}
.section-list-a {
  text-decoration: none;
  color: #717171;
}
.switch-tab-shown {
  display: none;
}
.section-three {
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.section-src {
  margin-left: 410px;
  width: 170px;
  height: 140px;
}
.section-lorem {
  margin-right: 375px;
  margin-left: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13.645px;
  line-height: 25px;
  align-items: center;
  color: #777777;
  text-align: start;
}
.section-ready {
  background-image: url(/img/Layer\ 21\ 1.png);
  margin-top: 30px;
}
.section-ready-h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  padding-top: 125px;
  padding-bottom: 15px;
}
.section-ready-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #d8d8d8;
  padding-bottom: 70px;
}
.section-ready-button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #18cfab;
  border-radius: 5px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  cursor: pointer;
  border: none;
  box-shadow: 0 -5px #ffffff;
  margin-left: 875px;
  margin-bottom: 125px;
}
.section-gallery {
  background-color: #e9edef;
}
.gallery-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  padding-top: 95px;
  padding-bottom: 25px;
  position: relative;
}
.gallery-p:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 915px;
}
.gallery-p:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 930px;
}
.gallery-ul {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #717171;
  justify-content: center;
  margin-top: 95px;
  margin-bottom: 70px;
  cursor: pointer;
}
.gallery-li {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  background: #f8fcfe;
  border: 1px solid #edefef;
  color: #717171;
  cursor: pointer;
}

.gallery-li:hover {
  border-color: #18cfab;
  cursor: pointer;
}
.section-gallery-a {
  text-decoration: none;
  color: #717171;
}
.gallery-li-all {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f8fcfe;
  border: 1px solid #edefef;
  color: #717171;
  cursor: pointer;
}
.gallery-li-all:hover {
  border-color: #18cfab;
  cursor: pointer;
}

.section-photo-ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1140px;
  margin-left: 375px;
  margin-bottom: 85px;
}
.section-photo-li {
  position: relative;
}

.section-photo-button {
  position: relative;
  background-color: #18cfab;
  color: #ffffff;
  padding-left: 60px;
  padding-bottom: 10px;
  padding-top: 15px;
  padding-right: 20px;
  border-radius: 5px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 40px;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  text-align: center;
  margin-left: 875px;
  margin-bottom: 100px;
}
.section-photo-button:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 19px;
  left: 25px;
  top: 25px;

  background-image: url(/img/Forma\ 1.png);
}
.gallery-photo-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #4e4e4e;
  margin-top: 85px;
  padding-bottom: 25px;
  position: relative;
}
.gallery-photo-p:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 915px;
}
.gallery-photo-p:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 930px;
}
.news_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 165px;
  list-style: none;
  padding-left: 0px;
  width: 1160px;
}

.news_item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100%- 60px) / 4);
  text-align: center;
  cursor: pointer;
}
.news_item:nth-child(4n) {
  margin-right: 0px;
}
.news_image {
  display: block;
}
.news_counter {
  position: absolute;
  top: 0px;
  left: 197px;
  display: block;
  width: 70px;
  height: 68px;
  background-color: #203e38;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  color: white;
}
.news_heading {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 39px;
  color: #717171;
  margin-top: 0px;
  margin-bottom: 0px;
}
.news_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #777777;
  margin-top: 15px;
  margin-bottom: 0px;
}
.news_wrap {
  padding-top: 10px;
  padding-bottom: 10px;
}

.news_item:hover .news_heading {
  color: #18cfab;
}
.news_item:hover .news_counter {
  background-color: #18cfab;
}
.news_item:hover .news_wrap {
  background: #f8fcfe;
  border: 1px solid #f2f4f5;
}
.about-section {
  background-image: url(/img/Layer\ 333.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
}
.about-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
  padding-top: 100px;
  position: relative;
}
.about-p:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 915px;
}
.about-p:after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  width: 90px;
  height: 2px;
  background: #18cfab;
  left: 930px;
}
.about-section-img {
  width: 50px;
  height: 35px;
  margin-top: 65px;
  margin-left: 935px;
}
.about-section-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #bbbbbb;
  margin-left: 380px;
  margin-right: 380px;
  margin-top: 35px;
  text-align: center;
}
.about-section-h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18cfab;
  margin-top: 40px;
  margin-bottom: 5px;
}
.about-ux {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #bbbbbb;
  padding-bottom: 40px;
}
.about-photo-div {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.about-photo-bg {
  position: relative;
  width: 165px;
  height: 165px;
}
.about-photo-img {
  position: absolute;
  width: 140px;
  height: 140px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.list-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
  cursor: pointer;
}
.list-li {
  margin-left: 20px;
  margin-right: 20px;
}
.list-img-one {
  position: relative;
  width: 60px;
  height: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.list-img-two {
  position: absolute;
  width: 70px;
  height: 70px;
}
.list-img-three {
  background-color: transparent;
}

.ist-img-button {
  padding: 15px;
  background-color: transparent;
  border: solid 1px #bbbbbb;
  cursor: pointer;
}
.ist-img-button:hover {
  background-color: #18cfab;
}

.footer-div {
  background: #22353f;
}
.footer-p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  align-items: center;
  color: #aeaeae;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 800px;
}
.footer-span {
  color: #18cfab;
}
